/*GENERAL*/
*{
    margin: 0;
    padding:0;
}

/*SECCION TITULO*/
.contenedor_titulo{
    padding: 1rem;
    background-repeat:no-repeat;
    background-size: cover;
}

.titulo{
    font-family: fuente5;
    color: rgba(11, 45, 184, 0.815);
}

.grilla{
    background-color:rgb(18, 227, 220)!important;
    }
    
.seccion_información{
        padding: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

.titulo_información{
        font-family: Fuente3;
        color: blue;
    }  
    
    
/* SEGUNDA PAGINA */
.seccion_convocatoria{
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_convocatoria{
    font-family: Fuente5;
    color: rgb(172, 0, 94);
}






@font-face {
    font-family: fuente1;
    src: url(../fuentes/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: Fuente2;
    src: url(../fuentes/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Fuente3;
    src: url(../fuentes/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: Fuente4;
    src: url(../fuentes/Staatliches-Regular.ttf);
}

@font-face {
    font-family: Fuente5;
    src: url(../fuentes/Satisfy-Regular.ttf);
}










/*DISEÑO RESPONSIVE*/
@media only screen and (max-width: 600px){
    .card-text{
        background-color:#CCFFFF ;
        font-family: Fuente4;
    }
}

@media only screen and (max-width: 600px){
    .titulo_perros{
        color:#330033 ;
        font-family: Fuente4;
    }
}
